<h5 class="fw-bold mb-4">MAIN MENU</h5>
<ul class="nav flex-column">
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('createPerson')">
      Create Person
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('averageHeight')">
      Average Height
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('countByNationality')">
      Count By Nationality
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('weightLessThan')">
      Weight Less Than
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('percentageByEyeColor')">
      Percentage By Eye Color
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('countByHairAndLocation')">
      Count By Hair And Location
    </button>
  </li>

  <li class="nav-item mb-2 mt-3">
    <hr>
  </li>

  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('register')">
      Register
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('login')">
      Login
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('importHistory')">
      Import History
    </button>
  </li>
  <li class="nav-item mb-2">
    <button class="btn btn-link text-start w-100" (click)="openDialog('import')">
      Import From JSON
    </button>
  </li>
</ul>
